<% if signed_in? %>
    <div class="row">
      <aside class="span5">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
        <section>
          <h3>Recent Running Articles</h3> <br/>
          <ul>
            <% for entry in FeedEntry.all(:limit => 30, :order => "published_at desc") %>
                <li><%= link_to h(entry.name), entry.url, :target => '_blank' %></li>
            <% end %>
          </ul>
        </section>
      </aside>
      <div class="span7">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to Shotgun Analytics</h1>
      <h2>
        Please take a look around.
      </h2>


      <%#= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>

    </div>

  <div class="container" >
    <div class="span12">
    <ul class="thumbnails">
      <li class="span7">
        <h3>
          <p>
          Shotgun Analytics: Our Products will Blow You Away<br><br>
          Major developments in the history of firearms:
          <ul>
            <li>1410: Breech loading firearms are pioneered in Burgundy</li>
            <li>1520: Barrel Rifling invented in Augsburg, Germany</li>
            <li>1836: Samuel Colt sells his first revolver</li>
            <li>1856: Smokeless powder</li>
            <li>2013: TriggerTally revolutionizes the way you shoot</li>
          </ul>
        </p>
        </h3>

      </li>
      <li class="span4">
        <a href="#" class="thumbnail">
          <%= image_tag "trigger01.png" %>
        </a>
      </li>
    </ul>
    </div>


    <!--
    <div class="span12">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="http://img.thesun.co.uk/multimedia/archive/00467/SNF12TRAVFX2682_467958a.jpg" alt="To Run">
          <p>Beijing Marathon</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="http://runninginspired.files.wordpress.com/2011/05/new-york-city-marathon.gif?w=600&h=398" alt="To Run">
          <p>New York City Marathon</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src="http://www.hawaiimagazine.com/images/content/Honolulu_Marathon_off_running_Sunday/HonoluluMarathon.jpg" alt="To Run">
          <p>Honolulu Marathon</p>
        </div>
      </li>
    </ul>
    </div>
    -->
  </div>
<% end %> 