<% if signed_in? %>
    <div class="row">
      <aside class="span5">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
        <section>
          <h3>Recent Running Articles</h3> <br/>
          <ul>
            <% for entry in FeedEntry.all(:limit => 30, :order => "published_at desc") %>
                <li><%= link_to h(entry.name), entry.url, :target => '_blank' %></li>
            <% end %>
          </ul>
        </section>
      </aside>
      <div class="span7">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="navbar-inner">
    <div class="container">
      <%= link_to "Please take our survey!", root_path, id: "logo" %>
    </div>
    </div>

    <div class="center hero-unit">
      <h1>Welcome to Shotgun Analytics</h1>
      <h2>
        Shotgun Analytics is a team of Carnegie Mellon University Silicon Valley students that
        share a love of shooting and technology. We are building a revolutionary mobile app
        that will improve your shooting, and will be easy, fast and fun to use.
      </h2>
      <h2>
        We need your help! We want to make our app useful to people like you. We want to talk
        to people like you! Contributors will be considered for participation in our exclusive
        Beta testing program, which means you’ll have early access to our experimental,
        proprietary technology. Email <%= mail_to "research@shotgunanalytics.org" %> and
        someone on our team will get in touch with you shortly.
      </h2>
      <h2>
        You can find out more about us <%= link_to "here",   about_path %>.
      </h2>

      <%#= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>

    </div>

  <div class="container" >
    <div class="span12">
    <ul class="thumbnails">
      <li class="span7">
        <h3>
          <p>
          Shotgun Analytics: Our Products will Blow You Away<br><br>
          Major developments in the history of firearms:
          <ul>
            <li>1410: Breech loading firearms are pioneered in Burgundy</li>
            <li>1520: Barrel Rifling invented in Augsburg, Germany</li>
            <li>1836: Samuel Colt sells his first revolver</li>
            <li>1856: Smokeless powder</li>
            <li>2013: TriggerTally revolutionizes the way you shoot</li>
          </ul>
        </p>
        </h3>

      </li>
      <li class="span4">
        <a href="#" class="thumbnail">
          <%= image_tag "trigger01.png" %>
        </a>
      </li>
    </ul>
    </div>

  </div>
<% end %> 