<%= form_for(@activity) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter activity name..." %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :time %>
      <%= f.text_field :time, placeholder: "Enter time...", class: "input-medium" %>
    </div>
    <div class="field">
      <%= f.label :distance %>
      <%= f.text_field :distance, placeholder: "Enter distance...", class: "input-medium" %>
    </div>

    <%= f.fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>

    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>