<li>
  <span class="content"><%= activity.name %>:  <%= activity.time %> minutes
     <%= activity.distance %> miles (<%= activity.pace %> minutes per mile) </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(activity.created_at) %> ago.
  </span>
</li>