<% provide(:title, 'Activities Log') %>


<div class="row">
  <aside class="span5">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/activity_form' %>
    </section>
    <section>
      TODO: MAP
    </section>
  </aside>
  <div class="span6">
    <h3>Activities Log</h3>
    <ul class="users">
      <%= render @activities %>
    </ul>
    <%= will_paginate %>
  </div>
</div>




<!--
<div class="span8">
  <% if @all_activities.any? %>
      <h3>Activities (<%= @all_activities.count %>)</h3>
      <ol class="microposts">
        <%= render @all_activities %>
      </ol>
      <%= will_paginate @all_activities %>
  <% end %>
</div>
-->